#labelPseudo
{
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

#divisions
{
	-fx-font-weight: bold;
	-fx-font-size: 15px;
}

#popup
{
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 20,0.2,5,5 );
}

#labelNum
{
	
	
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-alignment: center ;
	-fx-text-fill : white;
	
	-fx-border-color: yellow;
	-fx-border-radius: 50%;
	-fx-border-insets: -10px;
	
	-fx-background-color: gray;
	-fx-background-insets: -10px;
	-fx-background-radius: 50%;
}

#fond1955
{
	-fx-background-image: url("../textures/Fonds_Carte/1955.png");
}

#fond1985
{
	-fx-background-image: url("../textures/Fonds_Carte/1985.png");
}

#fond1855
{
	-fx-background-image: url("../textures/Fonds_Carte/1855.png");
}

#fond2015
{
	-fx-background-image: url("../textures/Fonds_Carte/2015.png");
}

#blinkingButton
{
	-fx-text-fill: white;
}

#defaultButton
{
    -fx-background-color: lightgray ;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black;
   
}

#defaultButton:hover
{
    -fx-background-color: darkgray ;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black;
   
}

#defaultButton:pressed
{
	-fx-background-color: derive(darkgray,-50%) ;
}

#fenetre
{
	-fx-background-color: black ;
	
}
#statusBar
{
	-fx-text-fill: yellow;
	-fx-font-family: "Courier New";
}

/******************************************/
/*Tab Pane */
.tab-pane > .tab-header-area > .headers-region > .tab:top 
{  
    -fx-border-color: #a3a7a8;  
    -fx-border-radius: 5 5 0 0;  
    -fx-background-color: white;  
    -fx-pref-height: 40px;    
    -fx-background-insets: 0;  
}  
  
.tab-pane > .tab-header-area > .headers-region > .tab:selected:top 
{  
    -fx-border-color: #2381E9 #a3a7a8 #a3a7a8 #a3a7a8;  
    -fx-border-width: 2 1 1 1;     
    -fx-border-radius: 5 5 0 0;  
    -fx-background-color: white;  
    -fx-pref-height: 40px;    

}  
  
  
.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label
 {  
    -fx-alignment: CENTER;  
    -fx-text-fill: #2381E9;  
    -fx-font-weight: bold;  
}  
  
  
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label
 {  
    -fx-alignment: CENTER;  
    -fx-text-fill: #2381E9;  
    -fx-font-weight: bold;  
}  
  
  
.tab-pane > .tab-header-area > .tab-header-background
 {  
    -fx-background-color:white;  
    -fx-border-color: #a3a7a8;  
    -fx-border-width: 0 0 1 0;  
    -fx-background-insets: 0;  
    -fx-pref-height: 45px;    
} 
/****************************************************************************/
/*Titled Pane */
.titled-pane 
{
	-fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";   
	-fx-text-fill: white;
	}

.titled-pane > .title 
{	
	
	-fx-background-color: darkblue;
	-fx-border-color: black;
	-fx-pref-height: 40px;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	
}


.titled-pane > *.content 
{
	-fx-background-color:white;
}

/****************************/
/*ToolTip */
.tooltip
{
	-fx-text-fill: black;
	-fx-background-color: azure;
	-fx-border-color: green;
	
}
