#labelPseudo
{
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

#divisions
{
	-fx-font-weight: bold;
	-fx-font-size: 15px;
}

#popup
{
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 20,0.2,5,5 );
}

#gras
{
	-fx-font-weight: bold;
}

#fond1955
{
	-fx-background-image: url("../textures/Fonds_Carte/1955.png");
}

#fond1985
{
	-fx-background-image: url("../textures/Fonds_Carte/1985.png");
}

#fond1855
{
	-fx-background-image: url("../textures/Fonds_Carte/1855.png");
}

#fond2015
{
	-fx-background-image: url("../textures/Fonds_Carte/2015.png");
}

#blinkingButton
{
	-fx-text-fill: white;
}

#defaultButton
{
    -fx-background-color: lightgray ;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black;
   
}